<div class="card">
  <div
    class="card_details"
    #banner
    [style.background]="getGradientColor(cartao.cor1, cartao.cor2)"
  >
    <div class="balance">
      <div class="Texts">
        <p>Sua fatura:</p>
        <h1>R$ {{ valorFatura }}</h1>
        <div class="infos">
          <p>Melhor dia de compra: 01</p>
          <div class="card_info">
            <div class="logo">
              <img [src]="'assets/cards/logo' + cartao.brand + '.svg'" />
            </div>
            <div class="card_description">
              <p>•••• {{ Cartao.digitos }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="details">
        <h2>Detalhes do cartão:</h2>
        <div class="credit">
          <div class="expire">
            <div class="expire_date">
              <h3>Expira em:</h3>
              <p>10/25</p>
            </div>
            <div class="expire_date">
              <h3>Vence em:</h3>
              <p>{{ Cartao.vencimento }}/07/2024</p>
            </div>
          </div>
          <div class="credit_limit">
            <div class="limit">
              <h4>Limite disponível do cartão:</h4>
              <p>R$ 4.580</p>
            </div>
            <div class="progress">
              <progress
                id="file"
                value="{{ valorFatura }}"
                max="{{ cartao.limite }}"
              ></progress>
            </div>
            <div class="limit_details">
              <p>Limite total de crédito:</p>
              <p>{{ cartao.limite }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="add">
        <span class="material-symbols-outlined"> arrow_downward </span>
        <p>Novo pagamento</p>
      </div>
      <div class="remove">
        <span class="material-symbols-outlined"> arrow_upward </span>
        <p>Estornar pagamento</p>
      </div>
      <div class="edit">
        <span class="material-symbols-outlined"> edit </span>
        <span class="material-symbols-outlined"> more_vert </span>
      </div>
    </div>
  </div>
  <div>

  </div>

  <table class="transactions">
    <thead class="fixed">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Código</th>
        <th>Valor</th>
        <th>Cadastro</th>
      </tr>
    </thead>
    <tbody>
      @for(compra of compras; track $index){
      <tr>
        <td><p>{{compra.nome}}</p></td>
        <td><p>{{compra.descricao}}</p></td>
        <td><p>{{compra.codigo}}</p></td>
        <td><p>{{compra.total}}</p></td>
        <td><p>{{compra.cadastro.toLocaleDateString()}}</p></td>
      </tr>
      }
    </tbody>
  </table>
</div>

<!--
        @if (SelecionarFatura?.compras && SelecionarFatura.compras.length > 0){
        <ol>
            @for (compra of SelecionarFatura.compras; track $index){
            <li>
                <p>{{ compra.id }}</p>
                <p>{{ compra.nome }}</p>
                <p>{{ compra.descricao }}</p>
                <p>{{ compra.codigo }}</p>
                <p>{{ compra.valor }}</p>
                <p>{{ compra.cadastro }}</p>
            </li>
            }
        </ol>
        }
        -->
