<div>
    <div>
        <div class="monthViewer">
            <span id="togglebtn" class="material-symbols-outlined">chevron_left</span>
            <div class="custom-select">
                <div class="selected-option" (click)="toggleDropdown()">
                    {{ mesSelecionado.nome ? mesSelecionado.nome : 'Selecione um mês' }}
                </div>
                @if(dropdownOpen){
                <div class="dropdown">
                    <div class="option" (click)="selectNewOption()">
                        <p>proximo!</p>
                    </div>
                    @for (mes of MesDefaultLista; track $index) {
                    <div class="option" (click)="selectOption(mes)">
                        <p>{{mes.nome}}/{{mes.yearId}}</p>
                    </div>
                    }
                </div>
                }
            </div>
            <span id="togglebtn" class="material-symbols-outlined">chevron_right</span>

        </div>
    </div>

</div>

<!--Lista todos os meses do ano
    <div class="months">
        <ol class="monthList">
        @for (mes of MesDefaultLista; track $index) {
            <li class="card">
                <p>{{mes.nome}}</p>
            </li>
        }
        </ol>
    </div>
-->

<!--Tem um botão que seleciona os meses com popover
    <div class="monthViewer">
        <button popovertarget="monthSelector">
            @if(mesSelecionado){
            <p>{{MesDefault.nome}}</p>
            } @else {
            <p>Selecionar Mês</p>
            }
            Oi sou botão!
        </button>
    </div>
-->

<!-- Aqui tem o popover tipo um modal com os meses do ano
<div id="monthSelector" popover>
    <ol class="monthListPop">
        @for (mes of MesDefaultLista; track $index) {

        <li class="cardPop">
            <p>{{mes.nome}}</p>
        </li>
        }
    </ol>
</div>
 -->