<div class="sidebar">
    <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="147" height="30" viewBox="0 0 147 30" fill="none">
            <path d="M87.7946 6.7699H75.9394V12.246H83.9241L86.888 14.9841V23.2301L83.9241 26H75.4862L72.4873 23.2301V21.0333L75.9394 18.0087V23.2301H83.4359V14.9841H75.4862L72.4873 12.246V6.7699L75.4862 4H84.761L87.7946 6.7699ZM107.762 23.2301L104.764 26H98.313L95.3144 23.2301V12.246L98.313 9.47612H104.764L107.762 12.246V23.2301ZM104.345 23.2301V12.246H98.7665V23.2301H104.345ZM128.639 14.9841L125.187 18.136V12.246H120.062V26H116.61V9.47612H120.062V11.864L122.573 9.47612H125.641L128.639 12.246V14.9841ZM146.105 12.246H137.492V14.9841H142.234L145.268 17.754V23.2301L142.234 26H134.04V23.2301H141.816V17.754H137.074L134.04 14.9841V12.246L137.074 9.47612H143.036L146.105 12.246Z" fill="black"/>
            <path d="M47.87 14.7383H31.9134L15.9568 29.4773H31.9134L47.87 14.7383Z" fill="#04724D"/>
            <path d="M47.87 0H31.9134L15.9568 14.7391H31.9134L47.87 0Z" fill="#04724D"/>
            <path d="M47.87 0H31.9134L15.9568 14.7391H31.9134L47.87 0Z" fill="black" fill-opacity="0.3"/>
            <path d="M31.9126 0H47.8692L63.8259 14.7391H47.8692L31.9126 0Z" fill="#04724D"/>
            <path d="M0 14.7383H15.9566L31.9133 29.4773H15.9566L0 14.7383Z" fill="#04724D"/>
            <path d="M0 14.7383H15.9566L31.9133 29.4773H15.9566L0 14.7383Z" fill="black" fill-opacity="0.3"/>
        </svg>
    </div>
    <div class="menu">
        <div class="menu_options">
            <ol>
                <li id="active" class="option">
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
                    <h2>Dashboard</h2>
                </li>
                <li class="option">
                    <span class="material-symbols-outlined">
                        credit_card
                    </span>
                    <h2>Credit Cards</h2>
                </li>
                <li class="option">
                    <span class="material-symbols-outlined">
                        payments
                    </span>
                    <h2>Income</h2>
                </li>
                <li class="option">
                    <span class="material-symbols-outlined">
                        paid
                    </span>
                    <h2>Expanses</h2>
                </li>
                <li class="option">
                    <span class="material-symbols-outlined">
                        account_balance
                    </span>
                    <h2>Checking accounts</h2>
                </li>
                <li class="option">
                    <span class="material-symbols-outlined">
                        rocket_launch
                    </span>
                    <h2>Goals</h2>
                </li>
                <li class="option">
                    <span class="material-symbols-outlined">
                        bid_landscape
                    </span>
                    <h2>Stocks</h2>
                </li>
                <li class="option">
                    <span class="material-symbols-outlined">
                        data_usage
                    </span>
                    <h2>Analytics</h2>
                </li>
            </ol>
        </div>
        <div class="user_menu">
            <ol>
                <li class="user_option">
                    <div class="icons">
                        <span class="material-symbols-outlined">
                        settings
                    </span>
                        <h2>Settings</h2>
                    </div>
                    <span class="material-symbols-outlined">
                        Logout
                    </span>
                </li>
            </ol>
        </div>
    </div>
</div>