h2, p {
  margin: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.title {
  display: flex;
  padding-bottom: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-bottom: 1px solid var(--text23, rgba(16, 14, 10, 0.60));
}

.title h2 {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex: 1 0 0;
}

.user_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 8px;
  border: 1px solid var(--text23, rgba(16, 14, 10, 0.60));
  border-radius: 4px;
  transition: transform .3s ease-in-out;
}

input::placeholder {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

input:focus{
  border-style: none;
  outline: none;
}

.update_btn{
  display: flex;
  max-height: 44px;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: rgba(28, 27, 31, 0.75);
  border-style: none;
}

.update_btn:hover {
  background: rgb(3, 80, 54);
}

.update_btn p {
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text h3{
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.text p{
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

#text p{
  color: var(--text23, rgba(16, 14, 10, 0.60));
  font-family: Inter, sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user_data_twofa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}


.two-fa_btn{
  display: flex;
  max-height: 44px;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: #035036;
  border-style: none;
}

.two-fa_btn:hover {
  background: rgba(1, 35, 23, 0.74);
}

.two-fa_btn p {
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}