<div class="profile">
    <div class="data">
        <div class="title">
            <h2>Perfil</h2>
        </div>
        <div class="user_data">
            <div class="text">
                <h3>Nome</h3>
                @if(btn_user){
                    <p>{{this.user.nome}}</p>
                } @else {
                    <input id="userinput" type="text" [(ngModel)]="UpdateUsername">
                }
            </div>
            @if(btn_user){
                <button class="update_btn" (click)="toggleUser()">
                    <p>Atualizar</p>
                </button>
            } @else {
            <button class="update_btn" (click)="updateUsername()">
                <p>Confirmar</p>
            </button>
            }
        </div>
    </div>
    <div class="data">
        <div class="title">
            <h2>Segurança</h2>
        </div>
        <div class="user_data">
            <div class="text">
                <h3>Email</h3>
                @if(btn_email){
                    <p>{{this.user.email}}</p>
                } @else {
                    <input id="emailInput" type="text" [(ngModel)]="UpdateEmail">
                }
            </div>
            @if(btn_email){
                <button class="update_btn" (click)="toggleEmail()">
                    <p>Atualizar</p>
                </button>
            } @else {
                <button class="update_btn" (click)="updateEmail()">
                    <p>Confirmar</p>
                </button>
            }
        </div>
        <div class="user_data">
            <div class="text">
                <h3>Senha</h3>
                <p>**************************</p>
            </div>
            <button class="update_btn">
                <p>Atualizar</p>
            </button>
        </div>
        <div class="user_data_twofa">
            <div class="text">
                <h3>Autenticação de dois fatores</h3>
                <p id="text">Proteja sua conta com uma camada extra de segurança:<br> habilite a autenticação de dois fatores (2FA) e mantenha suas informações seguras.</p>
            </div>
            <button class="two-fa_btn">
                <p>Enable 2FA</p>
            </button>
        </div>
    </div>
</div>