 <header>
    <h2>Settings</h2>
  </header>
  <div class="holder">
      <ol class="options">
        <li class="option active" [routerLink]="[{ outlets: { profile: ['config'] } }]">
          <span class="material-symbols-outlined"> person </span>
          <p>Perfil</p>
        </li>
        <li class="option" [routerLink]="[{ outlets: { profile: ['preferences'] } }]">
          <span class="material-symbols-outlined"> settings </span>
          <p>Preferências</p>
        </li>
        <li class="option" [routerLink]="[{ outlets: { profile: ['billing'] } }]">
          <span class="material-symbols-outlined"> credit_card </span>
          <p>Pagamentos</p>
        </li>
        <li class="option" [routerLink]="[{ outlets: { profile: ['notifications'] } }]">
          <span class="material-symbols-outlined"> notifications </span>
          <p>Notificações</p>
        </li>
      </ol>
    <div class="routerdiv">
      <router-outlet name="profile"></router-outlet>
    </div>
  </div>
